# Домашнее задание №2. Pandas

In [3]:
import pandas as pd
import numpy as np

### Задание 1

1. Создайте серию `pd.Series`, которая будет содрежать инфомацию о целочисленных оценках на экзамене по алгебре учеников: Александр, Борис, Владимир, Дмитрий, Григорий, Евгений, Игорь, Клим, Леонид, Максим. Созданную серию сохраните в переменную one_mark. Этой серии задайте имя "Оценка по алгебре". Выведите полученную серию на экран.
2. Увеличьте оценку Максима на 1 балл и сохраните ее в серии. Выведите на экран из серию только оценку Максима.
3. Задав маску, получить и вывести информацию о тем учениках, у которых оценка не меньше 4.

In [13]:
# ========
# Создаем серию с оценками учеников
grades = {
    "Александр": 5,
    "Борис": 3,
    "Владимир": 4,
    "Дмитрий": 5,
    "Григорий": 2,
    "Евгений": 4,
    "Игорь": 3,
    "Клим": 5,
    "Леонид": 4,
    "Максим": 3
}

# Создаем серию и задаем имя
one_mark = pd.Series(grades, name="Оценка по алгебре")
print("Серия с оценками:")
print(one_mark)

# Увеличиваем оценку Максима на 1 балл
one_mark["Максим"] += 1
print("\nОценка Максима после повышения:")
print(one_mark["Максим"])

# Выводим информацию о тех учениках, у которых оценка не меньше 4
high_grades_mask = one_mark >= 4
print("\nУченики с оценкой не меньше 4:")
print(one_mark[high_grades_mask])
# ========

Серия с оценками:
Александр    5
Борис        3
Владимир     4
Дмитрий      5
Григорий     2
Евгений      4
Игорь        3
Клим         5
Леонид       4
Максим       3
Name: Оценка по алгебре, dtype: int64

Оценка Максима после повышения:
4

Ученики с оценкой не меньше 4:
Александр    5
Владимир     4
Дмитрий      5
Евгений      4
Клим         5
Леонид       4
Максим       4
Name: Оценка по алгебре, dtype: int64

### Задание 2

Создайте `pd.DataFrame`, которая будет содержать инфомацию о целочисленных оценках на экзаменах по алгебре, геометрии и физике учеников: Александр, Борис, Владимир, Дмитрий, Григорий, Евгений, Игорь, Клим, Леонид, Максим. Оценки сгенерируйте случайным образом. Созданный `DataFrame` сохраните в переменную marks. Этому `DataFrame` задайте имя "*Экзаменационные оценки*" и выведите его на экран.

In [29]:
# ========
# Имена учеников
students = ["Александр", "Борис", "Владимир", "Дмитрий", "Григорий", "Евгений", "Игорь", "Клим", "Леонид", "Максим"]

# Генерируем случайные оценки
np.random.seed(1322)  # Для воспроизводимости результатов
marks_data = {
    "Алгебра": np.random.randint(2, 6, size=len(students)),
    "Геометрия": np.random.randint(2, 6, size=len(students)),
    "Физика": np.random.randint(2, 6, size=len(students))
}

# DataFrame с оценками
marks = pd.DataFrame(marks_data, index=students)
marks.name = "Экзаменационные оценки"
print(marks)
# ========

           Алгебра  Геометрия  Физика
Александр        5          3       2
Борис            2          3       3
Владимир         3          5       5
Дмитрий          2          5       5
Григорий         2          2       4
Евгений          4          2       2
Игорь            3          4       5
Клим             5          3       5
Леонид           5          3       3
Максим           3          4       3

### Задание 3

Полученный в предыдущем задании `marks` изменить следующим образом (все изменения должны быть сохранены в `marks`):
  1.  Оценки всех учеников по геометрии уменьшите на 1 балл.
  2.  Увеличьте все оценки Максима на 1 балл.
  3.  Измените оценку по алгебре у Бориса на 5.
  4.  Измените все оценки в столбце №2 на 4. <br>
Выведите `marks` на экран.

In [33]:
# ========
marks["Геометрия"] -= 1
print(marks)
# ========

           Алгебра  Геометрия  Физика
Александр        5          1       2
Борис            2          1       3
Владимир         3          3       5
Дмитрий          2          3       5
Григорий         2          0       4
Евгений          4          0       2
Игорь            3          2       5
Клим             5          1       5
Леонид           5          1       3
Максим           5          4       5

In [39]:
# ========
marks.loc["Максим"] = marks.loc["Максим"].apply(lambda x: x + 1 if x < 5 else x)
print(marks)
# ========

           Алгебра  Геометрия  Физика
Александр        5          4       2
Борис            5          4       3
Владимир         3          4       5
Дмитрий          2          4       5
Григорий         2          4       4
Евгений          4          4       2
Игорь            3          4       5
Клим             5          4       5
Леонид           5          4       3
Максим           5          5       5

In [36]:
# ========
marks.at["Борис", "Алгебра"] = 5
print(marks)
# ========

           Алгебра  Геометрия  Физика
Александр        5          1       2
Борис            5          1       3
Владимир         3          3       5
Дмитрий          2          3       5
Григорий         2          0       4
Евгений          4          0       2
Игорь            3          2       5
Клим             5          1       5
Леонид           5          1       3
Максим           5          5       5

In [38]:
# ========
marks.iloc[:, 1] = 4
print(marks)
# ========

           Алгебра  Геометрия  Физика
Александр        5          4       2
Борис            5          4       3
Владимир         3          4       5
Дмитрий          2          4       5
Григорий         2          4       4
Евгений          4          4       2
Игорь            3          4       5
Клим             5          4       5
Леонид           5          4       3
Максим           5          4       5

### Задание 4

Загрузите с Kaggle любым способом данные по ссылке: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams, а затем выполните следующие задания:
  1.  Добавить в `df` столбец *Средний балл*, в который разместите поделенную на 3 сумму оценок из трёх стобцов: *math score*, *reading score*, *writing score*. Вывести на экран результат.
  2. Произвести группировку по полу ученика (значение в столбце *gender*). После для каждой из полученных групп, найти наименьшее, среднее, наибольшее значение в поле *Средний балл*. Вывести на экран результат.

In [43]:
# ========
df = pd.read_csv('StudentsPerformance.csv')

# Добавляем столбец
df['Средний балл'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)
print(df[['gender', 'math score', 'reading score', 'writing score', 'Средний балл']].head())

#Группировка
grouped = df.groupby('gender')['Средний балл'].agg(['min', 'mean', 'max'])
print(grouped)
# ========

   gender  math score  reading score  writing score  Средний балл
0  female          72             72             74     72.666667
1  female          69             90             88     82.333333
2  female          90             95             93     92.666667
3    male          47             57             44     49.333333
4    male          76             78             75     76.333333
         min       mean    max
gender
female   9.0  69.569498  100.0
male    23.0  65.837483  100.0

### Задание 5

In [45]:
# Рассмотрим набор оценок на экзаменах по математике и физике студентов двух групп:
import random
df_marks = pd.DataFrame({'group': ["group_A" if random.random()>0.5 else "group_B" for i in range(12)],
                         'math score': [random.randint(40,100) for _ in range(12)],
                         'physics score': [random.randint(40,100) for _ in range(12)]})
print(df_marks.head(3))

     group  math score  physics score
0  group_B          71             75
1  group_B          87             98
2  group_A          97             59

  1.  Из набора данных `df_marks` получить выборку студентов у которых по всем экзаменам набрано более 60 баллов. Результат сохранить в `df_marks2`.

  2. В `df_marks2` произвести группировку по группе ученика (по значению в столбце *group*). После, используя операцию агрегации, получить для каждой группы среднее значение оценки за каждый экзамен и его разделить на 100.

In [46]:
# ========
# Отбор студентов
df_marks2 = df_marks[(df_marks['math score'] > 60) & (df_marks['physics score'] > 60)]
print(df_marks2)
# ========

      group  math score  physics score
0   group_B          71             75
1   group_B          87             98
3   group_B          73             84
7   group_A          87             63
8   group_B          65             61
10  group_A          99             92

In [47]:
# Группировка по группе и агрегация средних значений
df_grouped = df_marks2.groupby('group').agg({
    'math score': 'mean',
    'physics score': 'mean'
}) / 100
print(df_grouped)

         math score  physics score
group
group_A        0.93          0.775
group_B        0.74          0.795